{e% xtends "StatusSenha.html" %}
{% block body %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Painel de Senhas</title>
    </head>
    <body>
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Painel de Senhas</strong>
                </div>
                {% if senhas %}
                <ul>
                    {% for PaineldeSenhas in StatusSenha %}
                    <li>
                        <a href="{% url 'exibir' hora_data TIMESTAMP %}">{{hora_data}}</a>
                        <a href="{% url 'exibir' painel.Categoria_id_categoria}">{{id_categoria}}</a>
                        <a href="{% url 'exibir' painel.Tipo_id_tipo %}">{{id_tipo}}</a>
                        <a href="{% url 'exibir' painel.StatusSenha_id_status_senha %}">{{id_status_senha}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {%endblock %}
    </body>
</html>