{% extends "PaineldeSenhas"%}
{% blockbody %}
<div class="row">
    <div class="col-lg-12"></div>
    <h2 style="margin-top: 0;">{{id_status_senha}}</h2>
    <address>
        <strong>{{id_status_senha}}</strong>
        <abbr title="Senha">Senha</abbr> /{{id_senha}}
        <abbr title="Tipo">Tipo</abbr> /{{id_tipo}}
        <abbr title="Categoria">Categoria</abbr> /{{id_categoria}}
    </address>

    {% if senha %}
        <div class="well well-sm">Na Fila</div>
    {% else %}
        <div class="well well-sm">Em andamento</div>
</div>